/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.papazBoard {
  background-color: #965626;
  height: 200px;
  width: 700px;
  display: flex;
  padding: 20px;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 50px;
  align-self: center;
 
}


.section {
  background-color: #bd9a7d;
  margin: 5px;
  border-radius: 10px;
}

.sideSection {
  flex-grow: 1;
  display: flex;
}

.midSection {
  flex-grow: 6;
  display: flex;
  flex-direction: column;
}

.midRow {
  flex-grow: 1;
  display: flex;
}

/* .pot {
  background-color: #F7DCB9;
  flex-grow: 1;
  margin: 5px;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.pot {
  background-color: #ebdac4;
  flex-grow: 1;
  margin: 5px;
  border-radius: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.midSection .pot{
  cursor: pointer;
}

.beadContainer {
  position: absolute;
  height: 80%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bead {
  height: 10px;
  width: 10px;
  background-color: purple;
  margin: 1px;
  border-radius: 1000px;
}

/*New changes to .pot*/
.pot.highlighted {
  background-color: #FEF3E2;
}

.pot.target {
  background-color: #399918;
}

nav{
  background-color:rgb(255, 251, 251);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  /*border-radius: 20px;*/
  text-align: center;
  margin-top: 0%;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 100px;
  text-align: center;

}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav a:hover{
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
  font-size: 50px;
}
body{
background-image: url(man.jpeg) ;
background-repeat: no-repeat;
background-size: cover;

}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
  margin-right: 10px;
  padding-right: 20px;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

@media(max-width: 400px){
  .papazBoard{
    width: 100%;
  }
}


/* PlayButton.css */
button {
background-color: #7e4517;   /*Green background */
  color: white;               /* White text */
  border: none;               /* Remove default border */
  padding:40px;         /* Padding around the text */
  text-decoration: none;      /* Remove underline */
  display: inline-block;      /* Align the button properly */
  font-size: 20px;            /* Text size */
  margin-left: 60px;
  margin-top: 20px;            /* Small margin around the button */
  cursor: pointer;           /* Pointer cursor on hover */
  border-radius: 8px;         /* Rounded corners */
  transition: background-color 0.3s, transform 0.2s;
  align-self:center;
  background-image: url(play.png);
  background-size:contain;
  background-repeat: no-repeat;
}

button:hover {
  background-color: #ac825b;  /* Darker green on hover */
  transform: scale(1.05);      /* Slightly enlarge the button on hover */
}

button:active {
  background-color: #ceb394;  /* Even darker green when clicked */
}
/* WinMessage.css */
.win-message {
  /*background-color: #4ca160;  Green background to signify success */
  color: white;              /* White text */
  text-align: center;        /* Center text */
  padding: 20px;             /* Padding around the message */
  border-radius: 8px;        /* Rounded corners */
  border: 3px solid #aa7e59; /* Darker green border */
  width: 300px;              /* Fixed width */
  margin-top: 10px;        /* Center it horizontally */
  box-shadow: 2px 4px 8px rgba(216, 212, 212, 0.473); /* Slight shadow for depth */
  animation: pop-up 0.5s ease-in-out; /* Animation for message pop-up */
}

.win-message h1 {
  font-size: 2em;            /* Bigger font for the win message */
  margin: 0;                 /* Remove default margin */
}

.win-message p {
  font-size: 1.2em;          /* Slightly bigger text for the congratulatory message */
  margin-top: 10px;          /* Space between the h1 and the paragraph */
}

@keyframes pop-up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);

  }}